p {
  background-color: blue;
}

h1 {
  color: blue;
  background-color: green;
}

ol {
  color:red;
  background-color: pink;
  border:30px solid green;
}

body{
  background-color: violet;
}
