h1{
  background-color: green;
}

body{
  background-color: pink;
}


p{
  color: brown;
background-color:blue;
}
ol{
  background-color: red;
  border: 3px solid green;
}

img{
  border: 5px solid grey;
  width:540px;
  height:auto;
}

table, td, th{
  background-color: yellow;
  border: 4px solid brown;
}
