body{
  background-color: aquamarine;
}

h1 {
  text-align: center;
  color:navy;
  text-transform: uppercase;
  font-family: sans-serif;
}

p {
text-align: left;
font-size: 30px;
font-family: cursive;
color:red;
text-transform: lowercase;
text-indent:  70px;
word-break:keep-all;
}
